version: '3.8'

services:
  # backend service config
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: always

  # frontend service config
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    restart: always
    
